<mod name="Throwables Perk Deck">
	<AssetUpdates id="22733" version="1" provider="modworkshop" use_local_dir="true" use_local_path="true"/>
	<Localization directory="Loc" default="EN.txt"/>
	<AddFiles directory="Assets">
		<texture path="guis/dlcs/tool_box/textures/pd2/specialization/icons_atlas" force="true"/>
		<texture path="guis/dlcs/tool_box/textures/pd2/blackmarket/icons/grenades/tool_box" force="true"/>
	</AddFiles>
</mod>