<mod name="Pulverizer Perk Deck">
	<AssetUpdates id="Pulverizer Perk Deck" version="13">
        <custom_provider version_api_url="https://drnewbie.github.io/CustomPerkDeck//UpdateProvider/Pulverizer%20Perk%20Deck.txt" download_url="https://drnewbie.github.io/CustomPerkDeck//UpdateProvider/Pulverizer%20Perk%20Deck.zip"/>
    </AssetUpdates>
	<Localization directory="Loc" default="EN.txt"/>
	<AddFiles directory="Assets">
		<texture path="guis/dlcs/pulverizer_perk_deck/textures/pd2/specialization/icons_atlas" force="true"/>
	</AddFiles>
</mod>